MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

GRAPH_DRIVE_ID=
GRAPH_ITEM_ID=

GRAPH_SHARE_LINK= https://sportsocietybarneveld-my.sharepoint.com/:x:/g/personal/chico_sport-society_nl/IQBSVusKVZBnQaQX4YnT1fQOAUEkykcD2vEaJ0_g87qUUfw?rtime=3ilHadfc3kg